<launch>
  <arg name="cameraName" default="/camera" />
  <arg name="markerSize" default="0.2032" />
  <arg name="drawMarkers" default="true" />
  <arg name="image_frame_id" default="image" />
  <arg name="view" default="true" />
  
  <!-- Launch AR tag tracking node -->
  <node name="aruco" pkg="aruco_ros" type="aruco_ros_node" output="screen">
    <param name="camera" value="$(arg cameraName)" /> <!-- prefix for image_raw and camera_info topics -->
    <param name="markerSize" value="$(arg markerSize)" /> <!-- length of marker, in meters -->
    <param name="drawMarkers" value="$(arg drawMarkers)" /> <!-- publish image with markers highlighted if true -->
    <param name="image_frame_id" value="$(arg image_frame_id)" /> <!-- tf frame_id of image. Used as parent for publishing marker tf -->
  </node>
  
  <node if="$(arg view)" name="image_view" pkg="image_view" type="image_view">
    <remap from="image" to="markerImage" />
  </node>
  
</launch>
